body {
    margin: 0%;
    background-color: #ededed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header, footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid blueviolet;
    background-color: #ccc;
    text-align: center;
    color: #333;
    padding: 0.5rem;
    transition: all 500ms ease-in-out;
}

header:hover {
    box-shadow: 0 0 3px blueviolet;
}

.draw-box {
    display: flex;
    height: 500px;
    width: 500px;
    box-shadow: 0 0 3px black;
    flex-wrap: wrap;
    margin: 4rem;
    margin-top: 0;
    gap: 0;
}

#colorPicker {
    height: 4rem;
    width: 4rem;
    padding: 0%;
    border: none;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.size-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#size {
    width: 10rem;
}
.square {
    height: 31.25px;
    width: 31.25px;
    background: #fff;
}

button {
    width: 7.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    color: #333;
    border: 1px solid #000;
    border-radius: 5px;
}

button:hover {
    transition: all 100ms ease;
    border: 1px solid #33F;
}

.active {
    background-color: #336;
    color: white;
}

h1 {
    margin: 0;
}
